<!DOCTYPE html>
<html lang="es">
    <head>
        <h1>¿Estas seguro de que quieres borrar este contacto?</h1>
    </head>
    <body>
        <form method="post" action="/confirmar-borrar">
        <button type="submit" name="operacion" id="confirmar" value="confirmar" onclick="return confirm('¿Estás completamente seguro de borrar este contacto?, Esta acción no se puede deshacer');">Confirmar</button>
        
        <a href="/contactos" id="cancelar">
            <button type="button">Cancelar</button>
            
        </a>
    </form>
</body>
</html>
