$def with (contacto)
<!DOCTYPE html>
<html lang="es">
    <head>
        <h1>Contactos</h1>
    </head>

    <body>

        <form method="post">
            <label>Id:</label><br>
            <input type="hidden" name="id_contacto" id="id_contacto" value=><br>


            <label>Nombre:</label><br>
            <input type="text" name="nombre" id="nombre" value=><br>


            <label>Primer apellido:</label>
            <input type="text" name="primer_apellido" id="primer_apellido" value=><br>


             <label>Segundo apellido:</label>
            <input type="text" name="segundo_apellido" id="segundo_apellido" value=><br>

            <label>Teléfono:</label>
            <input type="text" name="telefono" id="telefono" value=><br>

            <label>Email:</label>
            <input type="text" name="email" id="email" value=><br>

           <a href="/contactos">
            <a href="/lista_contactos"><button type="button">Regresar</button></a>
         <button name="editar" value="editar">Guardar</button>
  
    </body>