
<!DOCTYPE html>
<html lang="es">
    <head>
        <h1>Contactos</h1>
    </head>

    <body>

        <form method="post">
            <label>Id:</label><br>
            <input type="int" name="id_contacto" id="id_contacto" value="$contacto['id_contacto']"><br>


            <label>Nombre(s):</label><br>
            <input type="text" name="nombre(s)" id="nombre(s)" value=$contacto['nombre']><br>


            <label>Primer apellido:</label>
            <input type="text" name="primer_apellido" id="primer_apellido" value=['primer_apellido']><br>


             <label>Segundo apellido:</label>
            <input type="text" name="segundo_apellido" id="segundo_apellido" value=['segundo_apellido']><br>

            <label>Teléfono:</label>
            <input type="text" name="telefono" id="telefono" value=$contacto['telefono']><br>

            <label>Email:</label>
            <input type="text" name="email" id="email" value=$contacto['email']><br>

            <a href="/contactos">
            <button type="button" id="regresar" >Regresar</button></a>
            <button name="operacion" id="guardar_cambios" value="guardar_cambios">Guardar cambios</button>
            <a href="/lista_contatctos">></a>
  
    </body>